.button {
  font-weight: 800;
}

.button :global(.mantine-Button-inner) {
  gap: var(--space-sm);
}

.button :global(.mantine-Button-label) {
  display: inline-flex;
  align-items: center;
  gap: var(--space-sm);
}
